:host {
    position: absolute;
    height: 100%;
    width: 100%;
}

.database-explorer-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    god-database-tree-explorer {
        flex: 1;
    }

    .separator {
        border: 2px solid var(--light);
        height: 100%;
    }

    god-database-item-editor {
        flex: 3;
        overflow: auto;
    }
}